/* ==========================================================================
	 Utilities - layout
	 ========================================================================== */

/**
 * Layout utilities from SUIT CSS text utilities:
 * https://github.com/suitcss/utils
 */

/**
 * Contain floats
 *
 * Make an element expand to contain floated children.
 * Uses pseudo-elements (micro clearfix).
 *
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of the
 *    element.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.u-cf:before,
.u-cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.u-cf:after {
	clear: both;
}

/**
 * Floats
 */

.u-floatleft {
	float: left !important;
}

.u-floatright {
	float: right !important;
}

.u-zero {
	margin: 0;
	padding: 0;
}

/* 10% indent */
.u-indent {
	margin-left: 10%;
}

/* Zero margins and paddings -- ZAP! */
.u-zero {
	margin: 0 !important;
	padding: 0 !important;
}
