/* ==========================================================================
   CSS variables
   ========================================================================== */

:root {
  /**
   * Colors
   */

  --grey_text:    #4a4a4a;
  --link:         #4a90e2;
  --link_visited: #61456a;

  /**
   * Text
   */

  /**
   * Base variables, adapated from Suit CSS
   */

  /* Base */
  --base_background:     white;
  --base_color:          var(--grey_text);
  --base_fontfamily:     'open_sans', sans-serif;
  --base_fontsize:       15px;
  --base_lineheight:     1.5;
  --base_linkcolor:      var(--link);
  --base_linkcolorhover: var(--grey_text);

  /* Breakpoint variables, see `/src/assets/css/settings/responsive.css` */

}
