/* ==========================================================================
   CSS variables
   ========================================================================== */

:root {
  /**
   * Colors
   */

  /* Primary */
  --red:        #b60404;
  --yellow:     #ffb401;
  --green:      #14a93b;
  --grey_text:  #4a4a4a;
  --grey_dark:  #222;
  --grey_light: #d7d7d7;
  --link:       #4a90e2;
  --link_visit: #61456a;

  /* Secondary */
  --yellow_pale: #f8c64f;

  /**
   * Text
   */

  /**
   * Base variables, adapated from Suit CSS
   */

  /* Base */
  --base_background:     white;
  --base_color:          var(--grey_text);
  --base_fontfamily:     'open_sans', sans-serif;
  --base_fontsize:       16px;
  --base_lineheight:     1.5;
  --base_linkcolor:      var(--link);
  --base_linkcolorhover: var(--grey_text);

  /* Breakpoint variables, see `/src/assets/css/settings/responsive.css` */

}

@custom-media --medium (min-width: 45em);
