/* ==========================================================================
   Shameful CSS
   ========================================================================== */

/**
 * Put shameful CSS in here. Refactor later.
 * http://csswizardry.com/2013/04/shame-css/
 */



/* reset figure element */
figure {
	margin: 0;
	padding: 0;
}

/* Page padding. Think of decent name for layout module. or use global css rule > * */
.pagepad {
	padding: 0 .5rem;
}

/* instead of .pagepad */
/*.main > * {
	padding: 0 .5rem;
}
*/
.pagepad__figure {
	margin: .3rem -.5rem 0;
}



/* No top margin for first figure in article */
.pagepad__figure:first-child {
	margin-top: 0;
}

.pagepad__figcaption {
	padding: 0.5rem;
}


@media (--medium) {
	.pagepad {
		/*padding: 0;*/
	}

	.pagepad__figure {
		margin: 1.3rem 0 0;
	}

		.pagepad__figcaption {
			padding: 0rem;
	}
}

/* put into base */
figcaption {
	font-style: italic;
	margin: 0.5rem 0;
}

.deflist > * {
	display: inline-block;
	line-height: 1.8;
}

.deflist dt {
	display: inline-block;
	font-style: italic;
	margin-right: 0.5em;
}

.deflist dd {
	display: inline-block;
}

.container {
	margin-bottom: 1.5rem;
}

.media__body {
	margin-bottom: 1rem;
}

.zero {
	margin: 0;
	padding: 0;
}

@media (--medium) {
	body {
		/*font-size: 20px;*/
	}
	.main {
		float: left;
		padding: 0.7rem;
		width: 68%;
	}
	.sidebar {
		float: right;
		width: 30%;
	}
}

/* not sure I want to use */
/*.nav .menu .current-menu-item a {
	color: var(--grey_dark);
	cursor: default;
}
*/
