/* ==========================================================================
   Header
   ========================================================================== */

/**
 * Global page header
 */

.header {
	background-color: var(--red);
	color: white;
	padding-bottom: 0.5rem;
	padding-top: 1.2rem;
	text-align: center;
}

/* header logo 'size' is  width="130" height="125" */
.header__logo {
	display: inline-block;
	width: 110px;
}

.header__logo:hover {
	opacity: 0.8;
}

.header__name {
	font-size: 2.3rem;
	margin-bottom: 0.6rem;
}

.header__name a,
.header__name a:visited {
	color: white;
	text-decoration: none;
}

.header__name a:hover {
	text-decoration: underline;
}

.header__desc {
	font-size: 1.1rem;
	font-weight: normal;
	line-height: 1.3;
}

@media (--medium) {

	.header__logo {
		margin-right: 1rem;
	}

	.header__desc {
		margin-left: 0.4rem;
	}

}
