/* ==========================================================================
   Header
   ========================================================================== */

/**
 * Global page header
 */

.header {
	background-color: var(--red);
	color: white;
	padding-bottom: 0.5rem;
	padding-top: 1.2rem;
	text-align: center;
}

/* header logo 'size' is  width="130" height="125" */
.header--logo {
	display: inline-block;
	width: 110px;
}

.header--logo:hover {
	opacity: 0.8;
}

.header--name {
	font-size: 2.3rem;
	margin-bottom: 0.6rem;
}

.header--name a,
.header--name a:visited {
	color: white;
	text-decoration: none;
}

.header--name a:hover {
	text-decoration: underline;
}

.header--desc {
	font-size: 1.1rem;
	font-weight: normal;
	line-height: 1.3;
}

