/* ==========================================================================
   Global nav
   ========================================================================== */

/**
 * The navigation for the whole of the site
 */

.nav {
	background-color: var(--yellow);
	margin-bottom: 1.3rem;
	text-align: center;
}

.nav .menu {
	margin: 0;
}

.nav .menu > * {
	display: inline-block;
	font-size: 1.3rem;
	list-style-type: none;
	margin: 0 3px;
	padding: 6px;
}

.nav .menu > * a,
.nav .menu > * a:visited {
	color: var(--grey_text);
	text-decoration: none;
}

.nav .menu > * a:hover,
.nav .menu > * a:active {
	color: var(--grey_dark);
}

@media (--medium) {

	.nav {
		padding-right: 6.2rem;
	}

}
