/* ==========================================================================
   Global nav
   ========================================================================== */

/**
 * The navigation for the whole of the site
 */

.nav {
	background-color: var(--yellow);
}

.nav .menu {
	margin: 0;
}

.nav .menu > * {
	display: inline-block;
	font-size: 1.4rem;
	list-style-type: none;
	margin: 0 2px;
	padding: 4px;
}

.nav .menu > * a,
.nav .menu > * a:visited {
	/*border-radius: 3px;*/
	color: var(--grey_text);
	text-decoration: none;
}

.nav .menu > * a:hover {
	/*background-color: var(--yellow_pale);*/
	color: var(--grey_dark);
}
