/* ==========================================================================
   Site branding
   ========================================================================== */

/**
 * Branding for whole site
 */

.brand {
	background-color: var(--red);
	color: white;
}

.brand--logo:hover {
	opacity: 0.8;
}

.brand--name {
	font-size: 3.7rem;
	margin: 0;
}

.brand--name a,
.brand--name a:visited {
	color: white;
	text-decoration: none;
}

.brand--name a:hover {
	text-decoration: underline;
}

.brand--desc {
	font-weight: normal;
	margin: 0;
}

