/* ==========================================================================
   footer
   ========================================================================== */

/**
 * Main page footer
 */

.footer {
	background-color: var(--red);
	clear: both;
	color: white;
	padding-bottom: 1rem;
	text-align: center;
}

.footer a,
.footer a:visited {
	color: var(--yellow);
	text-decoration: none;
}

.footer a:hover,
.footer a:active {
	color: white;
	text-decoration: underline;
}

.footer__contact {
	list-style-type: none;
	margin: 0;
	padding: 1rem 0;
}

.footer__contact > * {
	line-height: 2;
}

@media (--medium) {

	.footer__contact {
		padding: 1rem 6rem;
	}

	.footer__contact > * {
		display: inline-block;
		margin: 0 0.3rem;
	}

}
