/* ==========================================================================
   heading
   ========================================================================== */

/**
 * h1-h4 defaults
 * With custom .heading equivalents AKA Double Stranded Heading Hierarchy
 * http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/#double-stranded-heading-hierarchy
 */

.heading,
h1, h2, h3, h4 {
	font-weight: 600;
	line-height: 1.1;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

h1,
.heading--1 {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.1;
	margin-bottom: 0.6em;
}

h2,
.heading--2 {
	font-size: 1.333333333rem;
	font-weight: 600;
	margin-bottom: 0.6em;
}

h3,
.heading--3 {
	font-size: 1.2rem;
	font-weight: 600;
	margin: 0.2em 0;
}

h4,
.heading--4	{
	font-size: 1rem;
	font-weight: 600;
	margin: 0 0 0.5em;
}
